
.signup-content{
    height: 100%;
    padding: 1em;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .signup-card{
        width: 90%;

        .errorMsg{
            font-size: 0.8rem;
        }

        ion-button{
            margin-top: 2em;
        }
    }

    .sign-up{
        margin-top: 3em;
    }
}

ion-text h1{
    font-weight: bold;
}

ion-input{
    border-bottom: 1px solid black;
    --highlight-color-focused: #87675d;
}

