<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      color="light"
      placeholder="Search"
      animated="true"
      debounce="800"
      (ionInput)="onSearchChange($event)"
    ></ion-searchbar>
    <ion-segment value="basket-outline" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="all">
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="item">
        <ion-icon name="basket-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="service">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="need">
        <ion-icon name="hand-right-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="headerSearchText">
    <ion-text class="searchText" *ngIf="query.length > 0"
      >Search result for "{{query}}"</ion-text
    >
  </div>
  <div class="announcements">
    <app-announcement
      *ngFor="let announcement of copyAnnouncements"
      [announcement]="announcement"
      [routerLink]="['/', 'tabs', 'announcements', announcement.uid]"
    ></app-announcement>
  </div>
</ion-content>
