ion-card {
  max-width: 10em;
  flex: 0 1 50%;

  img {
    max-height: 10em;
  }

  .subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ion-card-content {
    font-weight: bold;
  }
}
