<ion-card>
  <img
    (error)="imag.setAttribute('src', 'assets/placeholder.png')"
    [src]="announcement?.imageUrl"
    #imag
  />
  <ion-card-header>
    <ion-card-title class="title">{{ announcement?.title }}</ion-card-title>
    <ion-card-subtitle class="subtitle">{{
      announcement?.description
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text *ngIf="announcement?.isOnHold">ON HOLD</ion-text><br />
    <ion-text *ngIf="announcement?.price === undefined">Borrow</ion-text>
    <ion-text *ngIf="announcement?.category === 'service'">Service</ion-text
    ><br />
    <ion-text *ngIf="announcement?.price !== undefined"
      >RON {{ announcement?.price }}</ion-text
    >
  </ion-card-content>
</ion-card>
