<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>items</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentUser">
  <div class="itemContent">
    <div class="details">
      <img [src]="data?.image" />
      <h1>{{ data?.title }}</h1>
      <p>{{ data?.description }}</p>
      <p *ngIf="data?.price" class="price">RON {{ data?.price }}</p>
      <br />
      <address>
        <i *ngIf="data?.user">Posted by: {{ data?.user.name }}</i><br />
        <i *ngIf="data?.user?.phone">Contact: {{ data?.user.phone }}</i>
      </address>
    </div>

    <div>
      <ion-button expand="full" (click)="callUser(data?.user?.phone)"
        >Call</ion-button
      >
      <ion-button
        expand="full"
        (click)="reserveAnnouncement()"
        *ngIf="!data?.isOnHold && currentUser !== data?.user._id"
        >Reserve</ion-button
      >
      <ion-button
        expand="full"
        (click)="releaseAnnouncement()"
        *ngIf="data?.isOnHold && (currentUser === data?.onHoldBy || currentUser === data?.user._id)"
        >Cancel Reservation</ion-button
      >
    </div>
  </div>
</ion-content>
