<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>items</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentUser">
  <div class="loader" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div class="itemContent" *ngIf="!isLoading">
    <div class="details">
      <img
        (error)="imag.setAttribute('src','assets/placeholder.png' )"
        [src]="data?.imageUrl"
        #imag
      />
      <h1>{{ data?.title }}</h1>
      <p>{{ data?.description }}</p>
      <p *ngIf="data?.price" class="price">RON {{ data?.price }}</p>
      <br />
      <address>
        <i *ngIf="data?.user">Posted by: {{ data?.user.name }}</i><br />
        <i *ngIf="data?.user?.phone">Contact: {{ data?.user.phone }}</i>
      </address>
    </div>

    <div>
      <ion-button
        expand="full"
        (click)="callUser(data?.user?.phone)"
        *ngIf="currentUser !== data?.user._id"
        >Call</ion-button
      >
      <ion-button
        expand="full"
        (click)="reserveAnnouncement()"
        *ngIf="!data?.isOnHold && currentUser !== data?.user._id"
        >Reserve</ion-button
      >
      <ion-button
        expand="full"
        (click)="releaseAnnouncement()"
        *ngIf="data?.isOnHold && (currentUser === data?.onHoldBy || currentUser === data?.user._id)"
        >Cancel Reservation</ion-button
      >

      <ion-button
        expand="full"
        (click)="deleteAnnouncement()"
        *ngIf="currentUser === data?.user._id"
        >Delete</ion-button
      >
    </div>
  </div>
</ion-content>
