.itemContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .details {
    padding: 1.5em;
    h1 {
      font-weight: bold;
    }
    .price {
      font-weight: bold;
    }
    p {
      font-size: 1.2em;
    }
  }
}

.loader{
  width: 100vw;
  height: 50vh;

  ion-spinner{
    display: block;
    margin: 5em auto;
    width: 15%;
    height: 15%;
  }
}
