<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f2="ngForm" (ngSubmit)="onSubmit(f2)">
    <ion-list lines="none">
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="email"
          name="email"
          email
          placeholder="Email"
          ngModel
          #emailCtrl="ngModel"
          required
          autocomplete="new-email"
          ><ion-icon name="mail-outline" slot="start"></ion-icon
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p class="errorMsg">* Please insert a valid email!</p>
      </ion-text>
    </ion-list>

    <ion-button
      *ngIf="!isLoading"
      [disabled]="!f2.valid"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
      >SEND LINK</ion-button
    >

    <ion-button
      *ngIf="isLoading"
      shape="round"
      color="primary"
      expand="block"
      [disabled]="!f2.valid"
    >
      <ion-spinner name="circles"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
