<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="none">
      <ion-list-header class="ion-padding">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>{{ getData()?.title }}</ion-title>
        </ion-toolbar>
        <ion-label class="ion-padding">
          <p>{{ getData()?.subTitle }}</p>
        </ion-label>
      </ion-list-header>

      <ion-item-group *ngIf="flag == 1">
        <ion-item>
          <ion-input
            type="email"
            name="email"
            email
            placeholder="Email"
            ngModel
            #emailCtrl="ngModel"
            required
            autocomplete="new-email"
            ><ion-icon name="mail-outline" slot="start"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="flag == 3">
        <ion-item>
          <ion-input
            type="text"
            name="new_password"
            placeholder="Password"
            ngModel
            #new_passwordCtrl="ngModel"
            required
            minlength="8"
            autocomplete="new-password"
            ><ion-icon name="key-outline" slot="start"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <div align="center" class="ion-padding-top" *ngIf="flag == 2">
      <app-otp-input
        (length)="getOtpLength($event)"
        (otp)="onOtpChange($event)"
      ></app-otp-input>
    </div>

    <ion-button
      expand="block"
      shape="round"
      color="primary"
      type="submit"
      [disabled]="!f.valid"
    >
      {{ getData()?.button }}
    </ion-button>
  </form>
</ion-content>
